.close-tag
  display: inline-flex
  height: 100%
  align-items: center
  .close
    opacity: 0.7
    display: inline-block
    width: 32px
    height: 32px
    position: relative
    &:hover
      opacity: 1
    &:before, &:after
      display: inline-block
      position: absolute
      content: ' '
      left: 15px
      height: 32px
      width: 2px
      background-color: #ccc
    &:before
      transform: rotate(45deg)
    &:after
      transform: rotate(-45deg)
