.card
  display: flex
  border: solid 1px #ccc
  width: 100%
  margin-top: 12px
  margin-bottom: 20px
  padding: 20px 0
  .wrap-logo
    position: relative
    text-align: center
    .logo
      width: 100px
      margin: 0 20px
    span
      border-radius: 15px
      border: solid 1px #ccc
      text-align: center
      position: absolute
      bottom: 0
      left: 50%
      transform: translateX(-50%)
      width: 74px
      padding: 2px
      font-size: 10px
      color: #888
  .description
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    .line1
      display: flex
      align-items: center
      span.name
        font-size: 21px
        color: #333
        margin-right: 10px
      span.tag
        display: inline-block
        padding: 1px 8px
        height: 16px
        margin-right: 8px
        background-color: #ffb619
        font-size: 12px
        color: #fff
        text-align: center
        line-height: 16px
    .line2
      margin-top: 8px
      margin-bottom: 10px
      span.ename
        display: block
        font-size: 16px
        color: #888
    .line3, .line4
      span
        font-size: 14px
        color: #555
        margin-right: 15px
    .line4
      margin-top: 8px
    .line5
      margin-top: 15px
      a
        display: inline-block
        height: 34px
        width: 98px
        border: solid 1px #ccc
        background-color: #f3f4f4
        color: #888
        font-size: 18px
        line-height: 36px
        text-align: center
        margin-right: 20px
      a.follow
        color: #fff
        border: none
        background-color: #44b988
        width: 90px
        height: 35px
        border-top: solid 1px #44b988

  .fav
    display: inline-block
    flex-grow: 1
    text-align: right
    align-self: center
    margin-right: 16px
    a
      display: inline-block
      text-align: center
      line-height: 36px
      width: 100px
      height: 36px
      background-color: #44b988
      color: #fff
