@import '../mixins/choose'

.select-candidate
  display: flex
  margin-top: 16px
  .choose
    display: inline-block
  .btn
    display: inline-block
    a
      display: inline-block
      width: 100px
      height: 36px
      background-color: #44b988
      font-size: 16px
      color:#fff
      line-height: 36px
      text-align: center
