html, body
  height: 100%
  width: 100%
  margin: 0
  padding: 0

.wrapper
  position: relative
  min-height: 100%

.container
  width: 1000px
  margin: 0 auto

#content
  padding-bottom: 180px //footer+margin

ul, li
  margin: 0
  padding: 0

ul
  list-style: none

p
  font-size: 16px
  line-height: 1.4

a
  text-decoration: none
