.expert-card
  border: solid 1px #ccc
  background-color: #f7f8f8
  margin-bottom: 20px
  padding: 20px
  .expert-bio
    display: flex
    align-items: center
    padding-bottom: 10px
    border-bottom: solid 1px #ccc
    img
      width: 80px
      height: 80px
      margin-right: 10px
      border-radius: 50%
    .exp
      .exp-name
        display: inline-block
        margin-right: 8px
        font-size: 21px
        color: #333
      .exp-time
        display: inline-block
        border: solid 1px #ffb619
        height: 22px
        font-size: 14px
        span
          color: #ffb619
          padding: 0 5px
          line-height: 24px
      .exp-title
        display: block
        font-size: 16px
        color: #888
    .contact
      flex-grow: 1
      text-align: right
      a
        display: inline-block
        height: 36px
        color: #fff
        font-size: 18px
        text-align: center
        line-height: 36px
      .qq
        width: 100px
        background-color: #57b8e1
        margin-right: 8px
      .offline
        width: 140px
        background-color: #44b988
