#footer
  height: 120px
  width: 100%
  background-color: #646e7a
  text-align: center
  position: absolute
  bottom: 0
  .container
    position: relative
    top: 50%
    transform: translateY(-50%)
  span
    display: inline-block
    width: 100%
    font-size: 12px
    color: #fff
