@import "common"

#header
  height: 60px
  width: 100%
  background-color: #44b988
  img
    display: inline-block
  ul
    display: inline-block
    height: 100%
    vertical-align: top
  ul li
    display: inline-block
    width: 94px
    height: 100%
    a
      display: inline-block
      height: 100%
      width: 100%
      text-align: center
      color: #fff
      line-height: 60px
    &:hover
      background-color: #2d9c6d
  li.active
    background-color: #2d9c6d

  .nav
    display: inline-block
    height: 100%
    width: 80%
    float: left
    font-size: 16px


  .logout
    display: none
    width: 20%
    font-size: 14px
    ul
      float: right

  .login
    display: inline-block
    width: 20%
    font-size: 14px
    ul
      float: right
