 input[type='checkbox']
  -webkit-appearance: none
  border: none
  border-radius: none
  display: inline-block;
  width: 14px
  height: 14px
  border: solid 1px #ccc
  margin-right: 12px
  &:focus
    outline: none
input[type='checkbox']:checked::before
  content: '\2713'
  position: relative
  bottom: 3px
