.pagination
  display: flex
  justify-content: center
  height: 28px
  margin-top: 40px
  span.state, span.current
    display: inline-flex
    height: 28px
    line-height: 28px
    font-size: 14px
    color: #555
  span.state
    margin-right: 20px
  span.current
    margin-right: 15px
  ul
    display: inline-flex
  ul li
    display: inline-block
    border: solid 1px #aaa
    margin-right: 10px
    width: 26px
    text-align: center
    line-height: 26px
    a
      font-size: 14px
      color: #888
  ul
    li
      box-sizing: border-box
      cursor: pointer
      &:hover
        background-color: #44b988
        border: none
        a
          color: #fff
    li.active
      background-color: #44b988
      border: none
      a
        color: #fff
    li.etc
      border: none
      cursor: auto
      &:hover
        cursor: auto
        background: none
    li.num3
      width: 46px
    li.next
      width: 82px
    li.last
      width 54px
