.bonus
  display: flex
  flex-grow: 1
  align-items: center
  margin-top: 50px
  margin-bottom: 10px
  .caption
    display: inline-block
    margin-left: 5px
    color: #888
    font-size: 18px
    .bonus-list
      font-size: 14px
      span
        display: block
        max-width: 235px
