.career-card
  display: inline-flex
  margin-bottom: 32px
  width: 300px
  &:last-child
    margin: 0
  img.career
    width: 160px
    height: 160px
    background-color: #ccc
  .career-description
    display: inline-block
    margin-left: 8px
    span
      display: block
      max-width: 120px
      font-size: 16px
      color: #333
      margin-bottom: 12px
    ul
      li
        margin-bottom: 6px
        a
          font-size: 14px
          color: #57b8e1
