.choose
  margin: 0
  padding: 0
  border: none
  border: solid 1px #ccc
  overflow: hidden
  width: 138px
  height: 34px
  margin-right: 12px
  background: #fff url("/src/assets/arrowdown.gif") no-repeat 94% 50%
  select
    line-height: 36px
    padding-left: 8px
    width: 100%
    border: none
    box-shadow: none
    background-color: transparent
    background-image: none
    -webkit-appearance: none
    font-size: 14px
    color: #888
    &:focus
      outline: none
    cursor: pointer
