.classifier
  border: solid 1px #aaa
  div
    display: flex
    justify-content: flex-start
    border-bottom: solid 1px #aaa
    &:last-child
      border: none
  span.subtitle
    display: inline-block
    width: 108px
    margin-top: 16px
    padding-left: 12px
    font-size: 16px
    color: #aaa
  ul
    margin: 16px 0 9px 0
    width: 878px
  ul li
    display: inline-block
    line-height: 1.5
    margin-right: 15px
    margin-bottom: 7px
    a
      padding: 0 3px
      font-size: 14px
      color: #555
    &:hover
      background-color: #44b988
      a
        color: #fff
  ul li.active
    background: #44b988
    a
      color: #fff
