.district-tag
  .prompter
    display: inline-block
    vertical-align: top
  .place
    display: inline-block
    width: 90%
    span
      display: inline-block
      height: 24px
      line-height: 22px
      box-sizing: border-box
      font-size: 14px
      color: #9b9b9b
      border: solid 1px #ccc
      padding-left: 18px
      padding-right: 18px
      margin-right: 15px
      margin-bottom: 5px
      cursor: pointer
      &:hover
        color: #44b988
        border: solid 2px #44b988
        padding-left: 17px
        padding-right: 17px
        margin-bottom: 2px
        line-height: 20px
    .active
      color: #44b988
      border: solid 2px #44b988
