.excel
  width: 100%
  table, th, td
    border: solid 1px #ccc
    font-weight: lighter
  table
    border-collapse: collapse
  thead
    background-color: #f3f4f4
    th
      height: 48px
      border-bottom: none
      font-size: 16px
      font-weight: normal //not bold
      color: #555
  tbody
    td
      font-size: 18px
      color: #333
      height: 60px
      text-align: center
      vertical-align: middle
    .row1 td
      border-top: none
