.mRadio
  display: inline-flex
  align-items: center
  input[type=radio]
    -webkit-appearance: none
    box-sizing: content-box
    background-clip: content-box
    display: inline-block
    width: 8px
    height: 8px
    padding: 5px
    border-radius: 100%
    border: solid 1px #acacac
    &:focus
      outline: none
  input[type=radio]:checked
    background-color: #44b988
  .mRadio-label
    display: inline-block !important
    margin: 0 !important
    margin-left: 7px !important
    width: auto !important
    color: #555 !important
