.roadmap
  ul
    display: block
    margin-top: 20px
    margin-bottom: 8px
    li
      display: inline-block
      a, span
        font-size: 16px
        color: #555
      &:last-child
        span
          display: none
