.search-box
  .textfield
    display: inline-block
    input
      display: inline-block
      margin: 0
      padding: 0
      border: none
      &::-webkit-input-placeholder
        color: #ccc
  .btn
    display: inline-block
    margin: 0
    padding: 0
    border: none
    input
      display: inline-block
      background-color: #44b988
      color: #fff
      border: none
      margin: 0
      padding: 0
      &::-webkit-focus-inner
        border: 0
        padding: 0
