.path
  border-bottom: solid 1px #ccc
  text-align: center
  margin-top: 20px
  .step
    display: inline-block
    width: 140px
    font-size: 16px
    padding: 0 25px 10px 25px
    span.num
      display: inline-block
      width: 20px
      height: 20px
      margin-right: 8px
      color: #fff
      border-radius: 50%
      background-color: #aaa
      text-align: center
      line-height: 20px
    span.content
      color: #aaa
  .active
    border-bottom: solid 2px #44b988
    span.content
      color: #333
    span.num
      background-color: #44b988
