.path2
  display: inline-block
  width: 100%
  // justify-content: space-around
  .step2
    width: 33%
    display: inline-block
    // flex-grow: 1
    text-align: center
    span
      display: block
      font-size: 12px
      color: #aaa
    .num
      display: inline-block
      text-align: center
      line-height: 20px
      position: relative
      width: 20px
      height: 20px
      background: #eee
      background-clip: content-box
      padding-left: 48%
      padding-right: 48%
      border-radius: 50%
      margin-bottom: 8px
      &::before, &:after
        content: ' '
        display: inline-block
        height: 8px
        width: 48%
        background: #eee
        position: absolute
        top: 50%
      &::before
        transform: translateX(-100%) translateY(-50%)
      &::after
        transform: translateX(0) translateY(-50%)
  .active
    span
      color: #44b988
    .num
      background: #44b988
      background-clip: content-box
      color: #fff
      &::before, &:after
        background: #44b988
  .passed
    span
      color: #a2d3bf
    .num
      background: #a2d3bf
      background-clip: content-box
      color: #fff
      &::before, &:after
        background: #a2d3bf
