.toast-show
  position: fixed
  z-index: 100
  top: 50%
  left: 50%
  transform: translateX(-50%) translateY(-50%)
  bottom: 0
  right: 0
  width: 110px
  height: 45px
  background: #fff9e5
  border-radius: 3px
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2), -2px 0px 2px 1px rgba(0, 0, 0, 0.2)
  transition: opacity 500ms ease-in-out
  opacity: 1
  display: block
  span
    display: block
    height: 45px
    text-align: center
    line-height: 45px
.toast-hide
  transition: opacity 500ms ease-in-out 3s
  opacity: 0
