- var provinces = ["选择省份", "北京", "天津", "重庆", "上海", "河北", "山西", "辽宁", "吉林", "黑龙江", "江苏", "浙江", "安徽", "福建", "江西", "山东", "河南", "湖北", "湖南", "广东", "海南", "四川", "贵州", "云南", "陕西", "甘肃", "青海", "港澳台", "内蒙古自治区", "广西壮族自治区", "西藏自治区", "宁夏回族自治区", "新疆维吾尔自治区"]
- var cities = ["选择城市", "北京", "天津", "重庆", "上海", "河北", "山西", "辽宁", "吉林", "黑龙江", "江苏", "浙江", "安徽", "福建", "江西", "山东", "河南", "湖北", "湖南", "广东", "海南", "四川", "贵州", "云南", "陕西", "甘肃", "青海", "港澳台", "内蒙古自治区", "广西壮族自治区", "西藏自治区", "宁夏回族自治区", "新疆维吾尔自治区"]
- var grades = ['选择年级', '一年级', '二年级']
- var professions = ["工科", "财经", "农业", "政法", "医学", "民族", "林业", "师范", "体育", "语言", "艺术", "军事"]
- var classes = ["本科", "高职专科", "211 工程", "985 工程", "独立院校", "教育部", "直属", "民办高校"]
- var discs = ['哲学', '文学', '法学', '经济学', '教育学', '历史学', '理学', '工学', '农学', '医学', '管理学', '军事学', '文学', '法学', '经济学', '教育学', '历史学', '理学', '工学', '农学', '医学', '管理学', '军事学']
- var specs = ['金融学', '土木工程', '国际经济与贸易', '机械设计制造及其自动化', '会计学', '经济学', '电气工程', '临床医学', '法学', '英语']
- var careers = ['会计','设计/程序员', '月嫂/保姆', '行政/前台', '销售', '司机','家教/翻译','导游','建筑/装修','仓库管理','厨师/帮厨','快递','演艺/模特','美容/美甲','按摩师','摄影师','兼职/实习','服务员','技工/学徒']
- var batch = ['本科提前批', '本科一批', '本科二批', '本科三批', '专科']
- var belong = ['性质', '公办']
- var collegeHead = ['排名', '院校', '2015', '2014', '2013', '更多查询']
- var collegeBody = ['北京大学', '668', '660', '670', '专业分数线']
- var specialtiesHead = ['专业', '专业代码', '大类', '小类', '开设院校']
- var specialtiesBody = ['中国语言文学类', '0501', '文学', '语言文学', '开设院校']
- var specialtyHead = ['院校', '所在地', '类型']
- var specialtyBody = ['北京大学', "北京", '综合', '公办', '文科', '本科第一批', '670']
- var collegeQuery = [{className: 'district', title: '地区', body: provinces}, {className: 'type', title: '类型', body: professions}, {className: 'level', title: '性质', body: classes}]
- var collegeEstimate = [{className: 'district', title: '地区', body: provinces}, {className: 'type', title: '类型', body: professions}, {className: 'batch', title: '录取批次', body: batch}]
- var specialtyQuery = [{className: 'discipline', title: '大类', body: discs}, {className: 'specialty', title: '小类', body: specs}]
- var collegeScoreHead = ['年份', '最高分', '平均分', '投档分', '录取人数', '批次']
- var collegeScoreBody = ['2014', '-', '653', '718', '133', '本科一批']
- var collegeSpecHead = ['专业', '学科门类', '平均分', '最高分', '批次']
- var collegeSpecBody = ['工商管理', '管理学', '653', '718', '本科一批']
- var careerCard1 = ['计算机软件', '网络／电子商务', '计算机硬件']
- var careerCard2 = ['牧业', '水利', '农业', '渔业', '园林业']
- var careerCard3 = ['广告', '公关', '市场']
- var orderSteps = ['订单确认', '支付订单', '完成']
- var orderDetailHead = ['服务名称', '专家名称', '价格', '数量']
- var orderDetailBody = ['专家一对一', '刘美子', '9.9', '1']
- var indexExpolore = [{src: '/src/assets/university_icon.png', txt: '选大学'}, {src: '/src/assets/major_icon.png', txt: '查专业'}, {src: '/src/assets/score_icon.png', txt: '查分数'}, {src: '/src/assets/profession_icon.png', txt: '选职业'}]
- var indexWallLine1 =['/src/assets/u1.png', '/src/assets/u2.png', '/src/assets/u3.png']
- var indexWallLine2 =['/src/assets/u4.png', '/src/assets/u5.png', '/src/assets/u6.png']
- var pickMajor = ['选为 1 专业', '选为 2 专业', '选为 3 专业', '选为 4 专业', '选为 5 专业', '选为 6 专业']
- var pickVolunteer = ['选为 a 志愿', '选为 b 志愿', '选为 c 志愿', '选为 d 志愿', '选为 e 志愿', '选为 f 志愿']

doctype html
html
  head
    title #{ pageTitle }
  body
    .wrapper
      include ../components/head.jade
      #content
        block content
      include ../components/foot.jade
