include ../mixins/districtTag
extend ./base

block content
  -var pageTitle = '购买宏图卡'
  .container
    .card-info
      div(class='line l1')
        span 宏图卡
      div(class='line l2')
        span 现价:
        span.price ¥300
        span / 张
      div(class='line l3')
        span 适用考生：普通类文理科考生（自主招生及艺术、体育类考生暂不适用）
        span 适用批次：普通类非提前批次（提前批志愿暂不适用）
      div(class='line l4')
        mixin districtTag(['北京', '河北', '天津', '河北', '天津', '河北', '天津', '河北', '天津','河北', '天津', '河北', '天津'], 1)
      div(class='line l5')
        a(href='#') 立即购买
    .card-benifit
      span 使用第一志愿宏图卡可以开通志愿定制服务，享受以下服务
      include ../components/benifits
