include ../mixins/roadmap
extend ./base

block content
  - var pageTitle = '行业'
  .container
    mixin roadmap(['信息查询', '职业宝库', '领域', '行业'], '>')
    span.career-area-title 互联网 IT
    ul.area-control
      li.active
        a(href='#') 全部
      li
        a(href='#') 计算机软件
      li
        a(href='#') 网络＋点子商务
      li
        a(href='#') 计算机硬件
    ul.area-detail
      each i in [1,2,3,4]
        li
          span.career-title 软件工程师
          p 英文是Software Engineer，是从事软件职业的人员的一种职业能力的认证，通过它说明具备了工程师的资格。软件工程师是从事软件开发相关工作的人员的统称。
    include ../components/pagination
