include ../mixins/roadmap
extend ./base

block content
  - var pageTitle = '职业'
  .container
    mixin roadmap(['信息查询', '职业宝库', '领域', '行业', '职业'], '>')
    span.entry-title 软件工程师
    .entry-belong
      span.belong 所属行业:
      span.to 互联网/IT-计算机软件
    .entry-relate
      span.relate 相关专业:
      ul.with
        each i in [1,2,3,4,5]
          li
            a(href='#') 医学
          li
            a(href='#') 计算机科学与技术物流工程
    .entry-detail
      each i in [1,2,3,4,5]
        p
          |它是一个广义的概念，包括软件设计人员、软件架构人员、软件工程管理人员、程序员等一系列岗位，工作内容都与软件开发生产相关。软件工程师的技术要求是比较全面的，除了最基础的编程语言（C语言/C++/JAVA等）、数据库技术（SQL/ORACLE/DB2等）等，还有诸多如JAVASCRIPT、AJAX、HIBERNATE、SPRING等前沿技术。此外，关于网络工程和软件测试的其他技术也要有所涉猎。
        p
          |一般情况下都是分4级：
        p
          |  1、软件技术员<br>
          |  2、助理软件工程师<br>
          |  3 、软件工程师<br>
          |  4 、高级软件工程师<br>
