include ../mixins/roadmap
include ../mixins/careerCard

extend ./base

block content
  - var pageTitle = '领域'
  .container
    mixin roadmap(['信息查询', '职业宝库', '领域'], '>')
    .wrap-career
      each i in [1, 2, 3]
        mixin careerCard('互联网/IT', careerCard1, '')
      each i in [1, 2, 3]
        mixin careerCard('农/林/牧/渔/水利', careerCard2, '')
      each i in [1, 2, 3]
        mixin careerCard('广告/公关', careerCard3, '')
