include ../mixins/roadmap
include ../mixins/excel
extend ./base

block content
  -var pageTitle='大学详情'
  .container
    mixin roadmap(['信息查询', '估分查大学', '北京大学'], '>')
    include ../components/collegeCard
    .content-control
      ul
        li
          a(href='#') 概况
        li
          a(href='#') 历史分数线
        li.active
          a(href='#') 专业设置和分数线
    //- include ../components/collegeWiki
    include ../components/collegeSelect
    //- mixin excel('score-line', collegeScoreHead, collegeScoreBody, false, 4)
    mixin excel('spec-set', collegeSpecHead, collegeSpecBody, false, 4)
