include ../mixins/roadmap
include ../mixins/choose
include ../mixins/searchBox
include ../mixins/excel
include ../mixins/classifier
extend ./base

block content
  -var pageTitle='估分查大学'
  .container
    mixin roadmap(['信息查询', '估分查大学'], '>')
    .wrap-choose
      mixin choose('district', provinces, '北京')
      mixin choose('professions', professions, '工科')
      mixin searchBox('college-estimate', '输入分数', '查 询')
    mixin classifier(collegeEstimate)
    mixin excel('colleges', collegeHead, collegeBody, true, 10)
    include ../components/pagination
