include ../mixins/roadmap
include ../mixins/classifier
include ../mixins/searchBox
extend ./base

block content
  - var pageTitle = '大学搜索'
  .container
    mixin roadmap(['信息查询', '大学搜索'], '>')
    mixin searchBox('college-query', '输入大学名称', '搜索')
    mixin classifier(collegeQuery)
    .college-list
      .list-head
        .wrap-end
          span.state 共找到 3176 所学校
          span.current 1
          span.total /318
      .list-body
        ul
          -var n = 0
          while n < 5
            li
              img(class='logo', src='/src/assets/logo.jpg')
              .description
                .line1
                  span.name 北京大学
                  span.attr 第一志愿排名：#{ ++n } 名
                .line2
                  span.belong 隶属：教育部
                .line3
                  span.tag 211
                  span.tag 985
                  span.tag 著名
              .compare
                input(type='checkbox', name='compare', checked=false)
                label(for='compare') 加入对比
    include ../components/pagination
