include ../mixins/roadmap
extend base

block content
  - var pageTitle = '专家列表'
  .container
    mixin roadmap(['专家服务', '专家列表'], '>')
    .expert-list
      .current-title
        span.title 第一志愿专家列表
      each i in [1, 2, 3, 4, 5, 6]
        include ../components/expertCard
    include ../components/pagination
