include ../mixins/step2
include ../mixins/mRadio
include ../mixins/excel
extend ./base

block content
  -var pageTitle = '专家服务'
  .container
    .expert3
      mixin step2('order-step', orderSteps, 0)
      .order
        div.order-method(class='order-line')
          span.title 支付方式
          .order-choose
            mixin mRadio('wechat-pay', 'pay', '微信支付', false)
            mixin mRadio('ali-pay', 'pay', '支付宝支付', false)
        div.order-detail(class='order-line')
          span.title 订单详情
          mixin excel('order-show', orderDetailHead, orderDetailBody, false, 1)
          .order-total
            span 应付总额：
            span.price ¥9.9
        div.order-owner(class='order-line')
          span.title 联系方式:
          .order-contact
            span 姓名:
            input(type='text')
            span.error(class='name') 请输入您的姓名
            span 电话:
            input(type='text')
            span.error(class='phone') 请输入您的电话
        div.order-service(class='order-line')
          span.title 服务协议
          .mCheckbox
            input(type='checkbox', id='ck')
            label(for='ck') 已阅读并同意
              a(href='#') 服务协议
            span.error 请勾选同意服务协议
        .submit-order
          input(type='submit', value='提交订单')
