extend ./base

block content
  -var pageTitle = '专家服务'
  .container
    .current-title
      span.title 第一志愿专家视频
    .expert-video
      .videos
        each i in [1, 2, 3]
          each j in [1, 2, 3, 4, 5]
            div(class='video v'+'#{ i }')
              .screenshot
                img(src='/src/assets/play_btn.png')
              .video-title
                span 刘老师: 如何把握平行志愿的优势都好得反反复复很
    include ../components/pagination
  .video-popup
    .container
      .popup
        .menu
          .control
            span 视频名称
          include ../components/close
        .video
          img(src='/src/assets/video.png')
