extend ./base

block content
  -var pageTitle = '专家服务'
  .container
    .expert-list
      .current-title
        span.title 第一志愿专家列表
        a.more 更多>>
      each i in [1, 2, 3]
        include ../components/expertCard
    .expert-video
      .current-title
        span.title 第一志愿专家视频
        a.more 更多>>
      .videos
        each i in [1, 2, 3, 4, 5]
          div(class='video v'+'#{ i }')
            .screenshot
              img(src='/src/assets/play_btn.png')
            .video-title
              span 刘老师: 如何把握平行志愿的优势都好得反反复复很
    .expert-contact
      span.illus 24 小时网络服务咨询
      .qq
        span.service QQ 群服务:
        span 北京: 4876987939
        span 天津: 2993939489
        span 河北: 2939399409
      .wechat
        span.service 微信服务:
        span dhkhh988
