include ../mixins/districtTag
extend ./base

block content
  -var pageTitle = '专家服务'
  .container
    .expert-info
      div(class='line l1')
        span 专家线下服务
      div(class='line l2')
        span 现价:
        span.price ¥9.9
      div(class='line l3')
        span 专家:
        span 刘美子
      div(class='line l4')
        mixin districtTag(['北京', '河北', '天津'], 1)
      div(class='line l5')
        a(href='#') 立即购买
    .contract
      h1 专家报志愿服务协议
      p.
        本用户协议系由用户与北京畅游时代数码技术有限公司及其关联企业（下文合称“畅游”）之间就畅游提供的网络游戏平台服务所订立的权利义务规范。<br>
        “关联企业”指现在或将来与北京畅游时代数码技术有限公司构成“一方有能力直接或间接控制、共同控制另一方或对另一方施加重大影响，以及两方或多方以上同受一方控制、共同控制或重大影响的关系的企业”。下文中将北京畅游时代数码技术有限公司及其关联企业合称“畅游”。<br>
        本用户协议所附各类规则或补充条款，为本用户协议不可分割的一部分，与本用户协议具有同等法律效力。本用户协议是用户接受畅游所提供的网络游戏产品和服务时适用的通用条款。因此，请您在注册使用畅游网络游戏平台服务前或接受畅游的网络游戏产品和服务之前，详细地阅读本用户协议的所有内容。<br>
        用户了解并同意：无论事实上是否认真阅读，只要用户点选“同意”键并完成注册，或安装、登录、实际使用并接受畅游网络游戏平台、畅游产品和服务即视为用户已完全同意并接受本用户协议及畅游所发布的各项相关游戏规则、服务规则，并愿受其约束。如果发生纠纷，用户不得以未仔细阅读为由进行抗辩。<br>
      p.
        一、	定义<br>
            1．畅游网络游戏平台：是由畅游为用户提供网络游戏产品和服务，并对用户使用网络游戏产品和服务相关事项进行管理的平台系统，包括但不限于畅游正在运营或测试中的各类收费或免费的在线游戏及相关的在线服务，以及前述网络游戏及服务所需的相关注册、运行、收费及管理系统。用户注册成为畅游网络游戏平台用户后，即可安装及使用畅游提供的各种网络游戏及其它相关系统和服务。畅游有权根据国家法律法规、畅游网络游戏平台管理规则以及其它适用的规则，对用户注册、使用游戏平台的行为进行管理。如果用户选择使用畅游网络游戏平台上的收费网络游戏或其它服务，畅游将根据用户使用收费网络游戏及其它服务的情况，根据畅游的收费规则计收费用。<br>
            2．畅游网络游戏：是由畅游自行开发或代理的并向用户提供，而用户需要通过计算机等电子设备与服务器联机进行使用操作的网络互动游戏。畅游网络游戏包括但不限于：客户端所需的单机计算机程序，游戏所包含的相关的书面文档、图片文件、音影文件、用户手册（说明软件程序的安装与应用方法），以及与畅游网络游戏相关的说明书、商标、标识以及任何其它的美术品。<br>
            3．用户：指愿意接受或实际上已经接受畅游提供的网络游戏产品和服务（包括产品测试阶段）的个人。<br>
      p.
        二、知识产权和所有权声明<br>
            畅游向用户提供的网络游戏平台、网络游戏及其它服务均基于由畅游或原始权利人开发并运行的计算机程序。畅游网络游戏平台、网络游戏及相关的计算机程序的著作权、专利权、商标、商业秘密及其它任何知识产权、所有权或权利（包括但不限于文字、软件、声音、相片、录像、图表、在广告中的全部内容、为用户提供的商业信息等），均属畅游或其原始授权人所有。未经畅游或原始授权人书面同意，任何人或用户均不得擅自复制、再造、下载、重制、传输、修改、编辑、展示、散布、制作衍生著作、销售畅游网络游戏平台、网络游戏及相关服务等任何信息，不得对畅游网络游戏平台及网络游戏进行反向工程(Reverse Engineering)、反向编译(Decompile)或反汇编(Disassemble)，不得以任何以营利为目的的使用畅游网络游戏平台、网络游戏，违反者应承担相应的法律责任，且畅游可立即终止向其提供产品和服务。违反者必须销毁任何已经取得的上述信息、资料、软件或产品。用户在使用畅游网络游戏平台及畅游网络游戏过程中所产生并储存于畅游网络游戏平台中的任何数据信息（包括但不仅限于帐号信息、角色信息、虚拟物品信息、积分信息等数据信息），均属于相关程序在运行过程中产生的衍生数据。畅游对上述数据信息拥有所有权，用户在按照本用户协议规定正常使用畅游网络游戏的过程中对属于其用户帐号的数据信息享有有限使用权。在不影响用户正常接受服务的情况下，畅游有权决定保留或不保留服务器上的全部或部分数据。（详细规定参见《关于维护网络游戏运行环境和公平性的补充条款》） 畅游网络游戏中的各种虚拟物品数据（包括但不限于元宝、金币、银币、游戏币、道具、装备）属于畅游所提供的服务，其所有权归畅游所有，用户只能在遵守法律和本用户协议规定及游戏规则的情况下使用。畅游不认可通过畅游游戏平台之外的线下交易所产生的交易结果，用户通过畅游游戏平台之外的线下交易行为所获得的游戏道具将被认定为来源不符合游戏规则。畅游有权对该交易行为涉及的游戏道具、游戏角色与游戏帐号采取相应的措施，包括但不限于：冻结或者回收游戏道具、对帐号进行倒扣数值、强制离线、封停帐号、删除档案等处理；情节严重的，畅游保留追究用户法律责任的权利。<br>
      p.
        三、许可权利的授予<br>
            本用户协议授予用户安装并使用畅游网络游戏平台的权利。用户在注册成为或实际成为畅游网络游戏平台用户并获得许可（帐号和密码）后，就可享用畅游收费或免费网络游戏及其它服务。用户可在自己使用的计算机等电子设备上安装、使用畅游网络游戏的一份副本，并通过畅游提供的付费或免费注册途径获得许可（帐号和密码）之后，与畅游提供或许可的服务器联机进行游戏。用户通过其它任何形式的未经畅游许可的安装、使用、访问、显示、运行以及转让，都将被视为对用户协议的侵犯。<br>
