include ../mixins/benifit
extend ./base

block content
  -var pageTitle = '首页'
  .index-head
    .container
      .fast-plan
        span 快速拟定求学志愿方案
        form(name='plan')
          .form-group
            label 所在地城市
            input(type='text')
          .form-group
            label 向往的大学
            input(type='text')
          .form-group
            label 联系方式
            input(type='text')
          .form-group
            input(type='submit', value='快速拟定方案')
  .index-explore
    .container
      each i in indexExpolore
        .goto-see
          img(src='#{ i.src }')
          span #{ i.txt }
          a(href='#') 去看看
  .index-wall
    .container
      .wall
        each i in indexWallLine1
          img(src='#{ i }')
          span.void
        each i, idx in indexWallLine2
          if idx == 0
            span.void 我们的<br>专属志愿
          else
            span.void
          img(src='#{ i }')
