include ../mixins/searchBox
extend ./base

block content
  -var pageTitle = '信息查询'
  .top-search
    .container
      .search
        ul.form-control
          li.active
            a(href='#') 院校查询
          li
            span |
          li
            a(href='#') 专业查询
          li
            span |
          li
            a(href='#') 分数查询
        mixin searchBox('info-retrieve', '输入查询信息', '查 询')
  .container
    .college-picker
      .search-bar
        span.title 选大学
        mixin searchBox('info-retrieve', '输入大学名称', '大学搜索')
        input.estimate(type='submit', value='估分查大学')
      .detail-content
        .district
          span.subtitle 地区
          ul
            each prov in provinces
              li
                a(href='#') #{ prov }
        .type
          span.subtitle 类型
          ul
            each prof in professions
              li
                a(href='#') #{ prof }
        .level
          span.subtitle 性质
          ul
            each cl in classes
              li
                a(href='#') #{ cl }

    .speciality-picker
      .search-bar
        span.title 选专业
        mixin searchBox('info-retrieve', '输入专业名称', '专业搜索')
      .detail-content
        .disciplines
          span.subtitle 学科门类
          ul
            each disc in discs
              li
                a(href='#') #{ disc }
        .speciality
          span.subtitle 专业
          ul
            each spec in specs
              li
                a(href='#') #{ spec }
    .combine
      .career-picker
        span.title 职业宝库
        .career-search-bar
          span.form-label 搜索职业:
          mixin searchBox('info-retrieve', '输入要查询的职业', '查询')
        .detail-content
          span.subtitle 职业分类
          ul
            each career in careers
              li
                a(href='#') #{ career }
      .college-ranking
        span.title 院校排行
        - var n = 0
        ul
          while n < 3
            li.active
              span.order #{++n}
              a(href='#') 清华大学
          while n < 10
            li
              span.order #{++n}
              a(href='#') 清华大学
