include ../mixins/roadmap
extend ./base

block content
  -var pageTitle = '登录'
  .container
    mixin roadmap(['首页', '登录'], '>')
    .login
      span.login-title 登录
      .login-ornot
        form(name='login-form')
          .form-group
            label 手机号
            input(type='text', placeholder='请输入手机号')
          .form-group
            label 密码
            input(type='password', placeholder='请输入 6-16 位密码')
            span.error 手机号或密码错误，登录失败
          .form-group
            input(type='submit', value='登录')
          a(href='#').fs 快速注册
          span.new 新建帐号
