include ../mixins/step
include ../mixins/choose
include ../mixins/mRadio
extend ./base

block content
  -var pageTitle = '注册'
  .container
    mixin step('logup-step', ['注册账号', '填写详细信息', '完成注册'], [0, 1, 2])
    .logup-ornot
      form(name='logup-form')
        .form-group
          label 手机号
          input(type='text', placeholder='请输入手机号')
          span.error 手机号码不正确
        .form-group
          label 密码
          input(type='password', placeholder='请输入 6-16 位密码')
          span.error 密码要超过 6 位哦
        .form-group
          label 验证码
          input(type='text', placeholder='短信验证码', class='verify')
          a(href='#', class='fetch-verify') 获取验证码
          span.error 验证码错误
        .mCheckbox
          input(type='checkbox', id='ck')
          label(for='ck') 阅读并同意
            a(href='#') 服务协议
        .form-group
          input(type='submit', value='注册')
        a(href='#').fs 直接登录
        span.new 已有帐号
    .logup-fill
      form(name='fill-form')
        .form-group
          label 手机号
          input(type='text', placeholder='15678769990', disabled)
        .form-group
          label
            span *
            | 姓名
          input(type='text')
          span.error 请输入您的姓名
        .form-group
          label
            span *
            | 所在地
          mixin choose('district', provinces, 'no')
          mixin choose('district', cities, 'no', 'last-district')
          span.error 请选择您的城市
        .form-group
          label QQ 号
          input(type='text')
          span.error 请输入您的 QQ 号
        .form-group
          label
            span *
            | 性别
          mixin mRadio('r1', 'gender', '男', false)
          mixin mRadio('r2', 'gender', '女', true)
          span.error 请选择您的性别
        .form-group
          input(type='submit', value='保存')
    .logup-finish
      .finish
        img(src='/src/assets/lf.png')
        span.txt 恭喜您，已经注册成功。
      .go
        a(href='#').lookup 去查询信息
        a(href='#').vol 去志愿定制
