include ../mixins/roadmap
include ../mixins/choose
extend ./base

block content
  //- var pageTitle = '专业详情'
  .container
    mixin roadmap(['信息查询', '专业查询', '专业详情'], '>')
    .text
      h1 中国语言文学类
      span 专业代码: 0501   开设院校: 48 所
      span 相近专业: 汉语言文学   汉语言   应用语言学   古典文献学
      h1 专业概括
      p 包括语言和文学两个大的专业。是中国大学史上最早开设的专业之一，出现于19世纪末。20世纪80年代以后，汉语言文学专业得到了很大的发展：师范类大学出于培养中学语文教学师资的目的，一般都开设了本专业；综合类大学中文系或文学院也普遍设有这一专业。
      h1 开设院校
      .wrap-line
        span.loc 招生地区:
        mixin choose('district', provinces, '北京')
        span.time 招生年份:
        ul
          - var m = 2015
          while m > 2011
            if m === 2014
              li.active
                a(href='#') #{ m-- }
            else
              li
                a(href='#') #{ m-- }
    table(class='excel specialty')
      thead
        each h in specialtyHead
          th #{ h }
        th.belong
          mixin choose('belong', belong, '性质')
        th.prof
          mixin choose('prof', professions, '工科')
        th.batch 
          mixin choose('batch', batch, '本科一批')
        th 录取分数线
      tbody
        - var n = 0
        while n < 10
          tr(class='row'+'#{ ++n }')
            each b, i in specialtyBody
              td(class='cell'+'#{ i+1 }') #{ b }
    include ../components/pagination
