include ../mixins/roadmap
include ../mixins/searchBox
include ../mixins/excel
include ../mixins/classifier
extend ./base

block content
  .container
    mixin roadmap(['信息查询', '专业查询'], '>')
    mixin searchBox('specialty-query', '输入专业名称', '查 询')
    mixin classifier(specialtyQuery)
    mixin excel('specialties', specialtiesHead, specialtiesBody, false, 4)
    include ../components/pagination
