include ../mixins/choose
include ../mixins/mRadio
extend ./base

block content
  - var pageTitle = '个人中心'
  .container
    .user-card
      ul.user-control
        li
          a(href='#') 个人资料
        li
          a(href='#') 绑定志愿卡
        li.active
          a(href='#') 修改密码
        li
          a(href='#') 安全退出
      .user-detail
        form.user-info
          .form-group
            label 帐号:
            span 13810669588
          div(class='form-group avatar')
            label 头像:
            img(src='/src/assets/user.png')
            a(href='#') 上传头像
          .form-group
            label 考生性别:
            mixin mRadio('r1', 'gender', '男', false)
            mixin mRadio('r2', 'gender', '女', true)
          .form-group
            label 所在省份:
            mixin choose('district', provinces, '选择省份')
            mixin choose('district', cities, '选择城市')
          .form-group
            label 所在年级:
            mixin choose('district', grades, '选择年级')
          .form-group
            label QQ 号码:
            input.qq(type='text')
          .form-group
            input.save-change(type='submit', value='保存修改')

      .bind-card
        form(name='volunteer-card')
          .form-group
            label 志愿卡卡号:
            input(type='text')
          .form-group(class='save')
            span.error 输入的宏图卡密码有误，请重新输入
            input(type='submit', value='激活志愿卡')
        .ps
          span 还没有志愿卡？
          a(href='#') 现在购买

      .change-pwd
        form(name='pwd-changing')
          .form-group
            label 原密码:
            input(type='password')
          .form-group
            label 新密码:
            input(type='password')
            span 请输入新密码
          .form-group
            label 确认密码:
            input(type='password')
            span 请再次输入新密码
          .form-group(class='save')
            span.error 两次输入的密码不一致
            span.success 修改成功
            input(type='submit', value='保存修改')
