extend base

block content
  -var pageTitle = '志愿填报'
  .header
    .container
      img.slogon(src='/src/assets/home_title.png')
      .bonus-tip
        .tip
          span.t 1 亿
          span.c 大数据分析
        .tip
          span.t 99%
          span.c 好评反馈
        .tip
          span.t 100%
          span.c 量身定制
      .now-go
        a(href='#') 开始你的私人志愿定制
  .girdle
    .container
      img(src='/src/assets/home_text.png')
  .bonus-show
    .container
      include ../components/benifits
  .login-popup
    .container
      .popup
        .menu
          include ../components/close
        .sub-box
          span.login-title 您需要先登录
          .login-ornot
            form(name='login-form')
              .form-group
                label 手机号
                input(type='text', placeholder='请输入手机号')
              .form-group
                label 密码
                input(type='password', placeholder='请输入 6-16 位密码')
                span.error 手机号或密码错误，登录失败
              .form-group
                input(type='submit', value='登录')
              a(href='#').fs 快速注册
              span.new 新建帐号
        img(src='/src/assets/popup_greentriangle.png').ft
  .subscribe-popup
    .container
      .popup
        .menu
          include ../components/close
        .sub-box
          .hint
            span.b 您还没有开通此服务，现在就来开通吧。
            span.l (以下两种方式，任意一种都可以开通服务)
          .gogo
            .line
              span 网上开通
              a(href='#') 去购买
            .line
              span 我有宏图卡
              a(href='#') 去绑定
        img(src='/src/assets/popup_greentriangle.png').ft
