include ../mixins/step2
include ../mixins/choose
include ../mixins/mRadio
include ../mixins/toast
extend base

block content
  -var pageTitle = '志愿填报'
  .container
    mixin step2('logup-step', ['填写信息', '填写院校要求', '查看推荐学校', '获取最终方案'], 1)
    .owner-info
      span.title 填写您的资料
      .info
        .line
          span 您的所在城市
          mixin choose( 'district', provinces, '北京')
          span.error 请选择省份
        .line
          span 输入您的分数
          input(type='text')
          span.error 请输入分数
        .line
          span 选择您的科目
          mixin choose('prof', professions, '工科')
          span.error 请选择科目
    .college-requirement
      span.title 填写您对院校所在城市的需求
      .requirement
        .line
          span.q 1. 是否希望院校离家近？
          .ans
            mixin mRadio('home-near', 'distance', '必须要离家近', false)
            mixin mRadio('home-far', 'distance', '想对近些当然好', false)
            mixin mRadio('home-whatever', 'distance', '不在乎院校距离', false)
        .line
          span.q 2. 是否希望院校所在的城市为一线城市（省会，直辖市）？
          .ans(class='sp')
            .line
              mixin mRadio('city-hot', 'city', '必须是一线城市', false)
            .line
              mixin mRadio('city-warm', 'city', '希望是一线城市', false)
            .line
              mixin mRadio('city-whatever', 'city', '不在乎院校所在城市', false)
            .line(class='l4')
              mixin mRadio('city-myneed', 'city', '自行添加喜欢的城市', false)
              .my-city
                input(type='text')
                span.tag 北京
                .choose-box
                  ul
                    li 北京
                    li 北京
                    li 北京
                .picker-box
                  .hint
                    span 还可以选择 2 个城市（最多选择 3 个城市）
                    .city-line
                      a(href='#').active 热门
                      each i in ['A-F', 'G-J', 'K-N', 'P-W', 'X-Z']
                        a(href='#') #{ i }
                  .cities
                    span.active 北京
                    each i in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
                      span 北京
                    each i in [0, 1, 2]
                      span 哈尔滨
                    each i in [3, 4, 5, 6]
                      span 乌鲁木齐
                    each i in [3, 4, 5, 6, 7, 8, 9]
                      span 北京
              //- mixin choose('district', provinces, '')
        .line
          span.q 3. 对上学期间的花费（学费 + 生活费）要求？
          .ans(class='sp')
            .line
              mixin mRadio('cost-much', 'cost', '可以接受较高花费（12 万以上）', false)
            .line
              mixin mRadio('cost-middle', 'cost', '可以接受中等花费（9 万左右）', false)
            .line
              mixin mRadio('cost-less', 'cost', '可以接受较低花费（6 万以下）', false)
        .line
          span.q 4. 您对未来毕业后工作求职的倾向：
          .ans(class='sp')
            .line
              mixin mRadio('career-money', 'career', '看重高薪', false)
            .line
              mixin mRadio('career-stable', 'career', '看重高稳定性', false)
            .line
              mixin mRadio('career-habbit', 'career', '看重自己喜爱的职业', false)
              .my-favor
                span.tag 互联网
                a(href='#') 添加
                .favor-box
                  .hint
                    span 还可以选择 2 个职业方向（最多选择 3 个）
                  .favors
                    each i in careers
                      span #{ i }
    .college-recommend
      .recommend-control
        span(class='active').college 按学校推荐
        span.special 按专业推荐
      .recommend-title
        span 第一批次推荐方案
      .recommend-none
        .sry
          p 抱歉，根据您前面填写的信息，系统无法匹配到适合您的第一批次院校。
          p 请重新填写合适的报考信息。
      .recommend-title
        span 第二批次推荐方案
      .recommended
        .fit
          span.title 最适合您的学校
          .detail-info(class='blk')
            span.subtitle 民族大学
            .detail-list
              span 所在城市：北京
              span 院校类型：综合
              span 院校性质：211/985/著名
              span 学费预估：6w
              span 录取分数线：580
        .rank
          span.title 排名最高的学校
          .detail-info(class='blk')
            span.subtitle 北京大学
            .detail-list
              span 所在城市：北京
              span 院校类型：综合
              span 院校性质：211/985/著名
              span 学费预估：6w
              span 录取分数线：580
        .city-rank
          span.title 同城市排名最高学校
          .detail-info(class='blk')
            span.subtitle 北京航空航天大学
            .detail-list
              span 所在城市：北京
              span 院校类型：综合
              span 院校性质：211/985/著名
              span 学费预估：6w
              span 录取分数线：580
      .correspond-recommended
        span 对应志愿推荐学校
        ul.table
          each i in ['A', 'B', 'C', 'D', 'E', 'F']
            li.column
              span.thead #{ i } 志愿
              ul
                each j in [1, 2, 3, 4, 5, 6]
                  li
                    span.college
                      if i == 'F' && j == 3
                        | 北京大学北京大学北京大学
                      else
                        | 北京大学
                    span.score-line 2015 年控制线:
                    span.score 文科 500，理科 520
    .college-final
      span.title 最终志愿方案
      .proposal
        .p1(class='active')
          span.subtitle 方案一:
          .circle
            ul
              li 离家距离近
              li 专业就职稳定
              li 学费适中
        .p2
          span.subtitle 方案二:
          .circle
            ul
              li 离家距离近
              li 专业就职稳定
              li 学费适中
      .proposal-change
        table(class='excel p-change')
          thead
            each h in ['', 'A 志愿', 'B 志愿', 'C 志愿', 'D 志愿', 'E 志愿', 'F 志愿']
              th #{h}
          tbody
            tr(class='row0')
              td(class='cell cell0') 院校名称
              each i in [1, 2, 3, 4, 5, 6]
                td(class='cell cell'+'#{i}')
                  span.college 北京大学
                  span.score-line 2015 年控制线:
                  span.score 文科 500
                  .ll
                    span.tag 211
                    span.tag 985
                    span.tag 著名
            each c, n in ['一', '二', '三', '四', '五', '六']
              tr(class='row row'+'#{ n }')
                td(class='cell cell0') 专业#{ c }
                - var j = 0
                while j < 6
                  td(class='cell cell'+'#{ ++j }') 信息技术与信息管理
            tr(class='row row7')
              td(class='cell cell0')
              each i in [1, 2, 3, 4, 5, 6]
                td(class='cell cell'+'#{ i }')
                  a(href='#') 选择专业
            tr.row8
              td(colspan='7')
                a(href='#') 调整学校
    .next-step
      a(href='#') 下一步
    .save-change
      span.error 您有未完成的选项，请完成后再提交
      a(href='#') 保存到本地

  .college-popup
    .container
      .popup
        .menu
          .control
            a(href='#').active 推荐大学
            a(href='#') 全部大学
          include ../components/close
        ul.college-header
          li.college-title 大学名称
          li.property-title 相关数据
          li.pick-title 操作
          li.confirm-title 确认
        ul.college
          each i, idx in ['北京大学', '厦门大学', '南京大学', '人民大学', '政法大学']
            li
              .college-wrap
                .wrap
                  span.college 北京大学
                  //- .score-line
                  span.score-line 2015 年控制线:
                  //- .score
                  span.score 文科 500，理科 520
              .property-wrap
                .p1
                  span.l 距离
                  span.b 20 公里
                .p2
                  span.l 投档成功率
                  span.b 低
              .pick-wrap
                mixin choose('volunteer-pick', pickVolunteer, '选为 a 志愿')
              .confirm-wrap
                if idx == 1
                  a(href='#').dismiss 取消
                else
                  a(href='#') 确定
        include ../components/pagination
  .special-popup
    .container
      .popup
        .menu
          include ../components/close
        table(class='excel c-change')
          tbody
            tr(class='row0')
              each c, i in ['开设专业名称', '专业代码', '操作', '确认']
                td(class='cell cell'+'#{ i }') #{ c }
            each i in [1, 2, 3, 4, 5]
              tr(class='row row'+ '#{ i }')
                td.cell0 信息管理与信息系统
                td.cell1 1201102
                td.cell2
                  mixin choose('pick-major', pickMajor, '选为 1 专业')
                td.cell3
                  a(href='#') 确定
        include ../components/pagination
  .dissuade-popup
    .container
      .popup
        .menu
          include ../components/close
        .board
          span 您填写的数据将较难分析出合理结果
          span 是否继续查看分析结果
        .action
          a.active(href='#') 重新填写
          a(href='#') 继续查看

  .college-tip
    .tip-container
      .popup
        .menu
          .title
            span 北京大学
          include ../components/close
        .board
          ul
            li
              span 2015 年控制线
              span 520 分
            li
              span 2014 年控制线
              span 520 分
            li
              span 2013 年控制线
              span 520 分
        .action
          a(href='#') 查看详情

  mixin toast('保存成功')
