// @import 'base'
// @import 'mixins/roadmap'
// @import 'ui/pagination'

.career-area-title
  display: block
  font-size: 21px
  margin-top: 24px
  margin-bottom: 14px
.area-control
  padding-bottom: 10px
  border-bottom: solid 1px #ccc
  li
    display: inline-block
    margin-right: 20px
    a
      font-size: 14px
      color: #888
    &:hover
      a
        color: #44b988
  li.active
    a
      color: #44b988
.area-detail
  li
    display: block
    padding: 16px 0
    border-bottom: solid 1px #ccc
    span.career-title
      display: block
      font-size: 20px
      color: #57b8e1
      margin-bottom: 10px
    p
      font-size: 18px
      color: #555
      margin: 0
