// @import 'base'
// @import 'mixins/roadmap'

.entry-title
  display: block
  font-size: 21px
.entry-belong, .entry-relate
  margin-top: 16px
  .belong, .relate
    display: inline-block
    width: 80px
    font-size: 14px
    color: #aaa
  .to, .with li a
    font-size: 14px
    color: #57b8e1
.entry-relate
  display: flex
  padding-bottom: 20px
  border-bottom: solid 1px #ccc
  .relate
    min-width: 50px
    line-height: 30px
  .with
    display: inline-block
    width: 100%
    li
      display: inline
      margin-right: 10px
      line-height: 30px
.entry-detail
  margin-top: 16px
  font-size: 16px
  color: #555
