/*
@import 'base'
@import 'mixins/roadmap'
@import 'ui/collegeCard'
@import 'ui/collegeWiki'
@import 'ui/collegeSelect'
@import 'mixins/excel'
*/

.content-control
  margin-top: 20px
  margin-bottom: 16px
  border-bottom: solid 1px #ccc
  ul li
    display: inline-block
    margin-right: 32px
    a
      font-size: 18px
      color: #888
    &:hover
      border-bottom: solid 3px #44b988
      a
        color: #44b988
  ul li.active
    border-bottom: solid 3px #44b988
    a
      color: #44b988
.score-line, .spec-set
  margin-top: 15px
