/*
@import 'base'
@import 'mixins/classifier'
@import 'ui/pagination'
@import 'mixins/roadmap'
@import 'mixins/choose'
@import 'mixins/searchBox'
@import 'mixins/excel'
*/

.wrap-choose
  margin-bottom: 20px
  display: flex
  .choose, .college-estimate
    display: inline-block
  .college-estimate
    .textfield
      margin-right: 12px
      input
        display: inline-block
        height: 34px
        line-height: 36px
        border: solid 1px #ccc
        font-size: 14px
        color: #888
        &::-webkit-input-placeholder
          height: 34px
          line-height: 36px
          padding: 0 4px
    .btn
      height: 36px
      width: 100px
      input
        height: 36px
        width: 100px
        line-height: 36px

.colleges
  margin-top: 20px
  width: 100%
  font-size: 18px
  .cell0
    width: 90px
  .cell1
    width: 220px
    color: #44b988
  .cell2, .cell3, .cell4
    width: 140px
  .cell5
    width: 270px
    font-size: 16px
    color: #ffb619
