/*
@import "base"
@import "mixins/classifier"
@import "ui/pagination"
@import "mixins/roadmap"
@import "mixins/searchBox"
*/

.college-query
  margin-bottom: 20px
  .textfield
    width: 260px
    height: 36px
    margin-right: 15px
    input
      padding: 0 8px
      display: inline-block
      border: solid 1px #ccc
      width: 244px
      height: 36px
      line-height: 36px
      font-size: 14px
      &::-webkit-input-placeholder
        color: #ccc
  .btn
    width: 100px
    height: 36px
    input
      width: 100px
      height: 36px
      line-height: 36px
.college-list
  margin-top: 20px
  border: solid 1px #aaa
  width: 100%
  .list-head
    background-color: #f3f4f4
    height: 45px
    width: 100%
    display: flex
    flex-direction: column
    align-items: flex-end
    .wrap-end
      height: 100%
    span.state, span.current, span.total
      display: inline-flex
      font-size: 14px
      line-height: 45px
    span.state
      color: #ffb619
      margin-right: 24px
    span.current
      color: #ffb619
    span.total
      margin-right: 14px
  .list-body
    ul li
      display: flex
      //padding: 20px 0
      height: 120px
      border-bottom: solid 1px #aaa
      &:last-child
        border: none
      .logo, .description, .compare
        display: inline-flex
        margin-top: 20px
        height: 80px
      .logo
        width: 80px
        margin: 20px
      .description
        flex-direction: column
        justify-content: space-between
        .line1
          display: flex
          align-items: center
          span.name
            font-size: 21px
            color: #333
          span.attr
            font-size: 12px
            color: #888
            border: solid 1px #aaa
            margin-left: 10px
            padding: 1px 10px
        .line2
          span.belong
            font-size: 16px
            color: #555
        .line3
          span.tag
            display: inline-block
            padding: 1px 8px
            height: 16px
            margin-right: 8px
            background-color: #ffb619
            font-size: 12px
            color: #fff
            text-align: center
            line-height: 16px
      .compare
        display: inline-block
        flex-grow: 1
        text-align: right
        margin-right: 16px
        label, input
          display: inline-block
          height: 80px
          line-height: 80px
          font-size: 14px
          color: #44b988
        label
          margin-left: 16px
        input[type='checkbox']
          border: solid 1px #aaa
          border-radius: 0
          -webkit-appearance: initial
          width: 16px
          height: 16px
          vertical-align: middle
