// @import 'mixins/step'
// @import 'mixins/mRadio'
// @import 'mixins/excel'
// @import 'ui/mCheckbox'

.expert3
  .order
    margin-top: 32px
    border: solid 1px #ccc
    padding: 0 20px
    position: relative
    span.error
      font-size: 12px
      color: red
    .order-line
      margin-top: 20px
      border-bottom: solid 1px #ccc
      span.title
        display: block
        font-size: 18px
        color: #333
        margin-bottom: 16px
    .order-method
      padding-bottom: 20px
      .mRadio
        margin-right: 70px
    .order-detail
      .order-show
        margin-top: 8px
        margin-bottom: 20px
        td
          width: 240px
      .order-total
        margin-bottom: 16px
        text-align: right
        span
          color: #555
          display: inline-block
        .price
          color: #ffb619
    .order-owner
      padding-bottom: 20px
      .order-contact
        font-size: 14px
        color: #555
        position: relative
        input[type='text']
          display: inline-block
          margin-left: 10px
          margin-right: 48px
          width: 144px
          height: 36px
          padding: 0 8px
        span.error
          position: absolute
          top: 40px
        span.name
          left: 70px
        span.phone
          left: 330px
    .order-service
      border: none
      margin-bottom: 80px
      span.title
        margin-bottom: 10px
      .mCheckbox
        display: flex
        align-items: center
        label
          font-size: 14px
          color: #555
          a
            color: #44b988
        span.error
          margin-left: 10px
    .submit-order
      position: relative
      bottom: 30px
      text-align: center
      input[type='submit']
        display: inline-block
        width: 160px
        height: 50px
        background: #ffb619
        color: #fff
        font-size: 21px
        text-align: center
        line-height: 50px
        border: none
