.expert-info
  margin-top: 45px
  padding-bottom: 10px
  border-bottom: solid 1px #ccc
  .line
    margin-bottom: 20px
  .l1
    font-size: 21px
    color: #333
  .l2, .l3, .l4
    font-size: 16px
    color: #555
    span
      margin-right: 10px
  .l2
    .price
      font-size: 21px
      color: #ffb619
  .l5
    a
      display: inline-block
      width: 160px
      height: 50px
      font-size: 21px
      background-color: #ffb619
      color: #fff
      line-height: 50px
      text-align: center
.contract
  margin-top: 20px
  h1
    margin: 0
    font-weight: normal
    font-size: 18px
    color: #333
  p
    line-height: 1.5
    font-size: 16px
    color: #555
