// @import "ui/expertCard"

.current-title
  display: flex
  height: 26px
  border-left: solid 5px #44b988
  padding-left: 8px
  margin-top: 47px
  margin-bottom: 8px
  .title
    font-size: 21px
    color: #555
  .more
    flex-grow: 1
    text-align: right
    font-size: 16px
    color: #449b88

.expert-video
  .current-title
    margin-top: 24px
  .videos
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .video
      display: inline-flex
      flex-direction: column
      margin-top: 24px
      width: 320px
      &:last-child
        flex-grow: 1
        margin-left: 20px
      .screenshot
        width: 320px
        height: 210px
        background-image: url('/src/assets/ss_b.png')
        text-align: center
        position: relative
        img
          display: inline-block
          height: 60px
          width: 60px
          position: relative
          top: 50%
          transform: translateY(-50%)
      .video-title
        display: block
        width: 320px
        box-sizing: border-box
        min-height: 49px
        padding: 10px
        border: solid 1px #ccc
        border-top: none
        align-self: stretch
        background-color: #f7f8f8
        color: #333
        line-height: 1.5
        flex-grow: 1

.expert-contact
  margin-top: 40px
  background-color: #44b988
  padding: 24px
  color: #fff
  .illus, .service
    display: block
  .illus
    margin-bottom: 24px
  .qq, .wechat
    display: inline-block
  .qq
    margin-right: 88px
    span
      margin-right: 32px
