.video-popup
  position: fixed
  z-index: 100
  top: 0
  left: 0
  bottom: 0
  right: 0
  display: flex
  align-items: center
  background-color: rgba(0, 0, 0, 0.5)
  transition: opacity 500ms
  opacity: 1
  .popup
    padding-bottom: 23px
    width: 920px
    margin: 0 auto
    background: #fff
    overflow: overlay
    border-radius: 15px
    .menu
      height: 50px
      text-align: right
      padding-right: 20px
      padding-top: 5px
      border-bottom: solid 1px #ccc
      margin-bottom: 17px
      .control
        display: inline-block
        width: 860px
        text-align: left
        height: 100%
        vertical-align: top
        span
          display: inline-block
          font-size: 18px
          color: #ccc
          margin: 0 20px
          line-height: 50px
          height: 100%
          box-sizing: border-box
    .video
      width: 862px
      margin: 0 auto
