.index-head
  background: url('/src/assets/pic.png')
  background-size: cover
  height: 500px
  .fast-plan
    width: 350px
    height: 380px
    margin-top: 60px
    float: right
    margin-right: 64px
    background: #fff
    padding: 15px
    text-align: center
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2), -2px 0px 2px 1px rgba(0, 0, 0, 0.2)
    span
      display: block
      height: 59px
      line-height: 60px
      text-align: center
      font-size: 21px
      color: #333
      border-bottom: solid 1px #ccc
    form
      margin-top: 3px
      padding: 0 9px
      margin-bottom: 24px
      .form-group
        margin-top: 12px
        label
          display: inline-block
          width: 300px
          font-size: 16px
          color: #555
          text-align: left
        input[type='text']
          display: inline-block
          box-sizing: border-box;
          width: 300px
          height: 40px
          padding: 0 8px
        input[type='submit']
          display: inline-block
          margin-top: 28px
          width: 240px
          height: 50px
          background: #44b988
          color: #fff
          font-size: 21px
          line-height: 50px
          text-align: center
          border: none
.index-explore
  padding-top: 40px
  height: 360px
  box-sizing: border-box
  .goto-see
    display: inline-flex
    flex-direction: column
    align-items: center
    box-sizing: border-box
    width: 220px
    height: 280px
    border: solid 1px #ccc
    margin-right: 40px
    position: relative
    &:last-child
      margin: 0
    img
      margin-top: 24px
      margin-bottom: 12px
    span
      font-size: 21px
      color: #555
    a
      display: inline-block
      width: 150px
      height: 50px
      background: #44b988
      text-align: center
      line-height: 50px
      font-size: 21px
      color: #fff
      position: absolute
      left: 50%
      transform: translateX(-50%)
      bottom: 20px
.index-wall
  background: #f3f4f4
  height: 400px
  box-sizing: border-box
  padding-top: 24px
  .wall
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    img, span
      display: inline-block
      width: 160px
      height: 160px
      margin-top: 8px
    span
      box-sizing: border-box
      padding: 10px
      background-color: #57b8e1
      font-size: 26px
      color: #fff
      font-weight: bold
