//@import "base"
//@import "mixins/searchBox"

.top-search
  width: 100%
  height: 160px
  background-color: #f8f9f9
  .search
    padding-top: 44px
    width: 720px
    margin: 0 auto
    ul.form-control li
      display: inline-block
      a, span
        font-size: 16px
        color: #aaa
      span
        font-size: 14px
        margin: 0 5px
      &:hover
        a
          color: #44b988
    ul.form-control li.active
      a
        color: #44b988
    .info-retrieve
      height: 40px
      width: 720px
      .textfield
        height: 40px
        width: 590px
        input
          height: 36px
          width: 572px
          border: 2px #44b988 solid
          border-right: none
          padding: 0 8px
          font-size: 16px
          line-height: 40px
          &::-webkit-input-placeholder
            font-size: 16px
            line-height: 40px
      .btn
        width: 130px
        height: 40px
        input
          height: 40px
          border-bottom: 4px #44b988 solid
          width: 130px
          font: 21px bold

.college-picker, .speciality-picker, .career-picker
  margin-top: 20px
  margin-bottom: 30px
  .search-bar
    width: 100%
    span.title
      display: inline-block
      height: 26px
      line-height: 26px
      font-size: 21px
      border-left: 5px solid #44b988
      padding-left: 12px
      margin-right: 30px
    .info-retrieve
      display: inline-block
      .textfield
        height: 36px
        width: 164px
        input
          border: 1px solid #ccc
          border-right: none
          height: 34px
          width: 155px
          padding: 0 4px
          line-height: 36px
          font-size: 14px
          &::-webkit-line-height
            line-height: 36px
            font-size: 14px
            color: #ccc
      .btn
        height: 36px
        width: 100px
        input
          height: 36px
          width: 100px
          line-height: 36px
          border-bottom: 4px solid #44b988
          font-size: 16px
  .detail-content
    background-color: #f2f8fb
    display: inline-flex
    margin-top: 10px
    padding: 10px 15px
    box-sizing: border-box
    width: 100%
    div
      border-right: 1px solid #ccc
      margin-right: 20px
      &:last-child
        border-right: none
        margin-right: 0
    span.subtitle
      display: block
      font-size: 18px
      color: #333
      margin-top: 14px
    ul
      display: inline-block
      margin-top: 10px
      li
        display: inline
        line-height: 2
        margin-right: 15px
        a
          font-size: 14px
          color: #555

.college-picker
  .estimate
    float: right
    width: 120px
    height: 36px
    font-size: 16px
    color: #fff
    line-height: 32px
    background-color: #44b988
    border: none
    border-bottom: 4px solid #44b988
  .district
    width: 60%
  .type
    width: 20%
  .level
    width: 20%

.speciality-picker
  .disciplines
    width: 50%
  .speciality
    width: 50%

.combine
  margin-top: 36px
  display: flex
  align-items: stretch
  span.title
    display: inline-block
    height: 26px
    line-height: 26px
    color: #333
    padding-left: 12px
    font-size: 21px
  .career-picker
    width: 60%
    margin: 0
    display: flex
    align-items: stretch
    flex-direction: column
    justify-content: flex-start
    span.title
      border-left: solid 5px #57b8e1
    .career-search-bar
      height: 116px
      width: 100%
      background-color: #f8f9f9
      margin-top: 16px
      span.form-label
        display: inline-block
        font-size: 16px
        line-height: 116px
        color: #555
        margin: 0 15px
      .info-retrieve
        display: inline-block
        margin: 0 auto
        .textfield
          width: 340px
          height: 36px
          input
            border: solid 1px #ccc
            border-right: none
            width: 331px
            height: 34px
            padding: 0 4px
            line-height: 36px
            font-size: 14px
            &:-webkit-input-placeholder
              line-height: 36px
              font-size: 14px
              color: #ccc
        .btn
          width: 100px
          height: 36px
          input
            width: 100px
            height: 36px
            line-height: 36px
            background-color: #57b8e1
    .detail-content
      flex-grow 2
      margin-top: 12px
      display: block
      span.subtitle
        display: block
  .college-ranking
    width: 40%
    span.title
      border-left: solid 5px #ffb619
      margin-left: 12px
    ul
      background-color: #f8f9f9
      margin-left: 12px
      margin-top: 16px
    ul li
      display: block
      height: 39px
      margin: 0 20px
      border-bottom: #e0e0e0 1px solid
      &:last-child
        border: none
      span.order
        display: inline-block
        width: 24px
        height: 24px
        margin-right: 12px
        line-height: 24px
        text-align: center
        background-color: #ccc
        color: #fff
      a
        line-height: 40px
        font-size: 14px
        color: #555
      &:hover
        span.order
          background-color: #ffb619
    ul li.active
      span.order
        background-color: #ffb619
