.login
  text-align: center
  span.login-title
    display: block
    font-size: 21px
    color: #555
    text-align: center
    padding-bottom: 15px
    border-bottom: solid 1px #ccc
  .login-ornot
    width: 360px
    margin: 0 auto
    form
      margin-top: 50px
      .form-group
        margin-top: 22px
      label
        display: inline-block
        box-sizing: border-box
        padding-right: 10px
        width: 60px
        text-align: right
        font-size: 16px
        color: #555
      input
        display: inline-block
        box-sizing: border-box
        width: 300px
        height: 40px
        font-size: 14px
        color: #555
        padding: 0 8px
        line-height: 40px
        &::-webkit-input-placeholder
          color: #ccc
      input[type='submit']
        padding: 0
        background: #44b988
        color: #fff
        text-align: center
        line-height: 40px
        font-size: 21px
        border: none
        margin-left: 60px
      .error
        display: block
        text-align: left
        color: red
        font-size: 12px
        padding-left: 60px
        padding-top: 10px
    .new, .fs
      margin-top: 10px
      float: right
    .new
      color: #888
      margin-right: 5px
    .fs
      color: #44b988
