.logup-ornot, .logup-fill
  width: 500px
  margin: 0 auto
  form
    margin-top: 50px
    .form-group
      margin-top: 22px
    label
      display: inline-block
      box-sizing: border-box
      padding-right: 10px
      width: 75px
      text-align: right
      font-size: 16px
      color: #555
    input[type='text'], input[type='password'], input[type='submit']
      display: inline-block
      box-sizing: border-box
      width: 300px
      height: 40px
      font-size: 14px
      color: #555
      padding: 0 8px
      line-height: 40px
      &::-webkit-input-placeholder
        color: #ccc
    input.verify
      width: 160px
    .fetch-verify
      display: inline-block
      width: 130px
      height: 40px
      background: #44b988
      color: #fff
      line-height: 40px
      text-align: center
      margin-left: 10px
    .mCheckbox
      display: flex
      align-items: center
      margin-left: 75px
      margin-top: 20px
      label
        font-size: 14px
        color: #555
        width: auto
        a
          color: #44b988
    input[type='submit']
      padding: 0
      background: #44b988
      color: #fff
      text-align: center
      line-height: 40px
      font-size: 21px
      border: none
      margin-left: 75px
      margin-top: 46px
    .error
      display: inline-block
      color: red
      font-size: 12px
      padding-left: 12px
  .new, .fs
    margin-top: 10px
    float: right
  .new
    color: #888
    margin-right: 5px
  .fs
    color: #44b988
    margin-right: 118px

.logup-fill
  .choose
    display: inline-flex
    margin-right: 20px
  .last-district
    margin: 0
  label
    span
      display: inline-block
      color: red
      margin-right: 10px
.logup-finish
  display: flex
  flex-direction: column
  align-items: center
  .finish
    display: flex
    align-content: center
    align-items: center
    color: #555
    margin-top: 110px
    margin-bottom: 100px
    span
      margin-left: 16px
  .go
    a
      display: inline-block
      width: 220px
      height: 50px
      text-align: center
      line-height: 50px
      color: #fff
    .lookup
      background: #449b88
      margin-right: 30px
    .vol
      background: #9d9bd9

.logup-ornot,.logup-finish
  display: none
