.succeed
  width: 930px
  height: 185px
  background: #f3f8f9
  margin: 0 auto
  margin-top: 100px
  padding-left: 178px
  padding-top: 45px
  box-sizing: border-box
  span
    display: block
    line-height: 1.5
  .line1
    font-size: 26px
    position: relative
    &:before
      content: ' '
      display: inline-block
      width: 43px
      height: 43px
      position: absolute
      top: -20%
      left: -10%
      background: url('/src/assets/tick.png')
  .line2
    font-size: 18px
    font-weight: lighter
    color: #aaa
  .line3
    font-size: 16px
    font-weight: lighter
    color: #aaa
    margin-top: 10px
