/*
@import 'base'
@import 'mixins/roadmap'
@import 'mixins/choose'
@import 'mixins/excel'
@import 'ui/pagination'
*/

.text
  margin-bottom: 10px
  h1
    display: block
    margin-top: 20px
    margin-bottom: 16px
    font-size: 21px
    color: #555
    font-weight: normal
    line-height: 1
  span, p
    font-size: 14px
    color: #555
    margin: 0
  span
    display: block
    margin-bottom: 5px
    &:last-child
      margin: 0
  p
    line-height: 1.8
  .wrap-line
    display: flex
  span.loc, span.time
    display: inline-block
    font-size: 16px
    color: #888
    line-height: 25px
    margin-right: 10px
  .choose
    display: inline-block
    width: 100px
    height: 25px
    margin-right: 36px
    font-size: 14px
    select
      line-height: 25px
  ul, li, a
    display: inline-block
  ul li
    a
      line-height: 25px
      font-size: 16px
      color: #aaa
      margin-right: 20px
    &:hover
      a
        color: #44b988
  ul li.active
    a
      color: #44b988

.specialty
  .belong, .prof, .batch
    .choose
      width: 75px
      height: 25px
      margin: 0 auto
      select
        font-size: 14px
        line-height: 25px
        color: #888
  .batch
    .choose
      width: 150px
  .cell1
    width: 160px
    color: #44b988
  .cell2, .cell3, .cell4, .cell5
    width: 100px
  .cell6, .cell7
    width: 220px
  .cell7
    color: #ffb619
