/*
@import 'base'
@import 'mixins/classifier'
@import 'ui/pagination'
@import 'mixins/roadmap'
@import 'mixins/searchBox'
@import 'mixins/excel'
*/

.specialties
  margin-top: 20px
  .cell1, .cell5
    color: #44b988

.specialty-query
  margin-bottom: 20px
  .textfield
    width: 260px
    height: 36px
    margin-right: 15px
    input
      padding: 0 8px
      display: inline-block
      border: solid 1px #ccc
      width: 244px
      height: 36px
      line-height: 36px
      font-size: 14px
      &::-webkit-input-placeholder
        color: #ccc
  .btn
    width: 100px
    height: 36px
    input
      width: 100px
      height: 36px
      line-height: 36px
