.logup-contract
  span.logup-contract-title
    display: block
    font-size: 21px
    color: #555
    text-align: center
    padding-bottom: 15px
    border-bottom: solid 1px #ccc
  p
    color: #555
