// @import "base"
// @import "mixins/choose"
// @import "mixins/mRadio"

.user-card
  width: 860px
  height: 540px
  margin-top: 45px
  border: solid 1px #ccc
  display: flex
  .user-control
    display: inline-block
    width: 160px
    height: 100%
    background-color: #f7f8f8
    li
      display: block
      height: 60px
      a
        display: inline-block
        width: 100%
        height: 100%
        text-align: center
        line-height: 60px
        font-size: 16px
        color: #555
      &:hover
        background-color: #fff
    li.active
      background-color: #fff
  .user-detail, .bind-card, .change-pwd
    display: inline-block
    margin-top: 30px
    font-size: 14px
    .form-group
      display: flex
      align-items: center
      margin-bottom: 30px
      label
        margin-right: 13px
      label, span
        display: inline-block
        width: 94px
        text-align: right
        color: #555
      .mRadio
        margin-right: 32px
      .choose
        display: inline-block
        height: 22px
        margin-right: 20px
        select
          height: 22px
          line-height: 24px
      input[type=text], input[type=password]
        height: 32px
        width: 148px
        padding: 0 4px
        font-size: 16px
        color: #555
    .avatar
      img
        margin-right: 16px
      a
        font-size: 14px
        color: #57b8e1
    input[type=submit]
      border: none
      display: inline-block
      height: 36px
      width: 120px
      background-color: #44b988
      font-size: 16px
      color: #fff
      margin-left: 107px

  .bind-card, .change-pwd
    margin-top: 45px
    .save
      position: relative
      span
        font-size: 12px
        position: absolute
        top: -20px
        left: 100px
      span.error
        color: red
      span.success
        color: green
        left: 130px
    .ps
      margin-left: 20px
      margin-top: 16px
      font-size: 14px
      color: #555
      a
        color: #57b8e1

  .bind-card
    span.error
      left: 30px
      width: 100%

  .change-pwd
    .form-group
      span
        margin-left: 10px
        width: auto
        font-size: 14px
        color: #aaa
      span.error
        display: none


  .user-detail, .change-pwd
    display: none
