//@import 'mixins/toast'

.path2 .step2
  margin-top: 40px
  width: 25%
.owner-info, .college-requirement
  border: solid 1px #ccc
  width: 860px
  margin: 0 auto
  margin-top: 50px
  padding: 15px
  box-sizing: border-box
  position: relative
  span.title
    display: block
    height: 60px
    font-size: 18px
    color: #333
    border-bottom: solid 1px #ccc
    box-sizing: border-box
    line-height: 60px
    text-align: center
.owner-info
  height: 340px
  .info
    display: inline-block
    position: relative
    left: 50%
    transform: translateX(-50%)
    .line
      display: flex
      height: 36px
      margin-top: 38px
      span
        display: inline-block
        height: 36px
        margin-right: 12px
        line-height: 36px
        font-size: 16px
        color: #333
      span.error
        display: inline-block
        color: red
        font-size: 12px
        padding-left: 12px
      input[type='text']
        box-sizing: border-box
        height: 36px
        width: 160px
    .choose
      display: inline-block
      margin: 0
      width: 160px
      height: 36px
      box-sizing: border-box
.next-step, .save-change
  text-align: center
  margin-top: 50px
  position: relative
  span.error
    display: block
    position: absolute
    width: 100%
    text-align: center
    top: -24px
    font-size: 12px
    color: red
  a
    display: inline-block
    width: 160px
    height: 50px
    background: #9d9bd9
    color: #fff
    font-size: 21px
    text-align: center
    line-height: 50px

.college-requirement
  .requirement
    margin-top: 20px
    .line
      margin-bottom: 30px
      .q
        display: block
        margin-bottom: 16px
        color: #333
        font-weight: bold
      .ans
        margin-left: 12px
        font-size: 14px
        color: #555
        .mRadio
          margin-left: 50px
          &:first-child
            margin-left: 0
      .sp
        .line
          display: flex
          margin: 0
          margin-top: 16px
          .mRadio
            display: inline-flex
        .l4
          margin-top: 8px
        .my-city
          margin-left: 16px
          position: relative
          input[type='text']
            display: inline-block
            border: solid 1px #ccc
            width: 120px
            height: 35px
            line-height: 35px
            padding: 4px
            box-sizing: border-box
            background: #fff url("/src/assets/location_icon.png") no-repeat 94% 50%
            &:focus
              outline: none
          span.tag
            display: inline-block
            padding: 0 14px
            height: 24px
            margin-left: 8px
            box-sizing: border-box
            border: solid 1px #44b988
            font-size: 12px
            color: #44b988
            text-align: center
            line-height: 24px
            position: relative
            cursor: pointer
            &::after
              display: inline-block
              width: 16px
              height: 16px
              content: ' '
              background: url('/src/assets/delete_icon.png')
              position: absolute
              top: -40%
              right: -14%
          .choose-box
            position: absolute
            height: 140px
            width: 120px
            box-sizing: border-box
            border: solid 1px #ccc
            background: #fff
            ul li
              box-sizing: border-box
              padding-left: 5px
              height: 25px
              line-height: 25px
              &:hover
                background: #eee
          .picker-box
            position: absolute
            width: 320px
            box-sizing: border-box
            border: solid 1px #ccc
            background: #fff
            font-size: 12px
            .hint
              color: #888
              span
                display: block
                height: 26px
                line-height: 26px
                text-align: center
              .city-line
                display: flex
                justify-content: space-between
                height: 26px
                a
                  display: inline-block
                  height: 26px
                  line-height: 26px
                  text-align: center
                  margin: 0
                  font-size: 12px
                  flex-grow: 1
                  background: #44b988
                  color: #fff
                  &:hover
                    background-color: #4ad399
                a.active
                  background: #4ad399
            .cities
              display: flex
              flex-wrap: wrap
              justify-content: space-between
              span
                display: inline-flex
                padding: 5px
                cursor: pointer
                &:last-child
                  flex-grow: 1
                &:hover
                  color: #44b988
              span.active
                color: #44b988
        .my-favor
          margin-left: 16px
          position: relative
          span.tag
            display: inline-block
            padding: 0 16px
            height: 24px
            box-sizing: border-box
            border: solid 1px #44b988
            margin-right: 20px
            font-size: 12px
            color: #44b988
            text-align: center
            line-height: 24px
            position: relative
            cursor: pointer
            &::after
              display: inline-block
              width: 16px
              height: 16px
              content: ' '
              background: url('/src/assets/delete_icon.png')
              position: absolute
              top: -40%
              right: -14%
          a
            display: inline-block
            width: 60px
            height: 24px
            background: #44b988
            color: #fff
            line-height: 24px
            text-align: center
          .favor-box
            position: absolute
            width: 320px
            box-sizing: border-box
            border: solid 1px #ccc
            background: #fff
            font-size: 12px
            .hint
              color: #888
              border-bottom: solid 1px #ccc
              span
                display: block
                height: 26px
                line-height: 26px
                text-align: center
            .favors
              display: flex
              flex-wrap: wrap
              justify-content: space-between
              span
                display: inline-flex
                padding: 5px
                cursor: pointer
                &:last-child
                  flex-grow: 1
                &:hover
                  color: #44b988
              span.active
                color: #44b988

.college-recommend
  margin-top: 50px
  .recommend-control
    span
      display: inline-block
      width: 50%
      text-align: center
      font-size: 18px
      color: #888
      padding-bottom: 12px
      border-bottom: solid 1px #ccc
      cursor: pointer
      &:hover
        color: #44b988
        border-bottom: solid 3px #44b988
    span.active
      color: #44b988
      border-bottom: solid 3px #44b988
  .recommend-title
    text-align: center
    background-color: #f3f4f4
    font-size: 18px
    height: 60px
    margin-top 15px
    margin-bottom: 11px
    span
      display: block
      line-height: 60px
      color: #888
  .recommend-none
    text-align: center
    background-color: #fcfad9
    height: 404px
    color: #888
    margin-bottom: 29px
    position: relative
    .sry
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      width: 1000px
      p
        line-height: 1.5
        vertical-align: middle
        margin: 0
  .recommended
    display: flex
    justify-content: space-around
    margin-top: 45px
    span.title
      display: block
      font-size: 18px
      color: #333
      text-align: center
      margin-bottom: 20px
    .blk
      width: 220px
      height: 240px
      color: #fff
      background: #44b988
      padding-top: 24px
      padding-left: 20px
      .subtitle
        display: block
        text-align: center
        font-size: 21px
        margin-bottom: 24px
      .detail-list
        span
          display: block
          font-size: 16px
          margin-bottom: 10px
          font-weight: lighter
          &:last-child
            margin: 0
  .correspond-recommended
    margin-top: 70px
    span
      display: block
      margin-bottom: 12px
      font-size: 18px
      color: #555
      text-align: center
    ul.table
      display: flex
      box-sizing: border-box
      border: solid 1px #ccc
      li.column
        display: inline-block
        border-right: solid 1px #ccc
        width: 165.5px
        &:last-child
          border: none
        span.thead
          display: block
          height: 50px
          background: #f3f4f4
          text-align: center
          line-height: 50px
          font-size: 16px
        ul li
          margin-top: 20px
          margin-bottom: 24px
          box-sizing: border-box
          padding: 0 3px
          span
            display: block
            text-align: center
            line-height: 1
            margin: 0
            margin-top: 6px
          span.college
            font-size: 18px
            color: #333
          span.score-line
            font-size: 14px
            color: #888
          span.score
            font-size: 14px
            color: #ffb619

.college-final
  span.title
    display: block
    height: 60px
    font-size: 18px
    color: #333
    border-bottom: solid 1px #ccc
    box-sizing: border-box
    line-height: 60px
    text-align: center
  .proposal
    display: flex
    justify-content: space-around
    margin-top: 50px
    margin-bottom: 40px
    cursor: pointer
    .p1, .p2
      text-align: center
      font-size: 18px
      color: #aaa
      width: 160px
      .circle
        margin-top: 10px
        height: 160px
        border-radius: 50%
        border: solid 1px #aaa
        box-sizing: border-box
        text-align: center
        position: relative
        ul
          text-align: left
          position: relative
          top: 50%
          transform: translateY(-50%)
          li
            padding-left: 28px
            font-size: 16px
            list-style:disc inside
            font-weight: lighter
      &:hover
        color: #44b988
        .circle
          background: #44b988
          border: none
          li
            color: #fff
    .active
      color: #44b988
      .circle
        background: #44b988
        border: none
        li
          color: #fff
  .proposal-change
    .cell
      width: 160px
      font-size: 16px
      color: #555
    .cell0
      width: 40px
      font-size: 14px
      color: #aaa
      padding: 0 6px
      box-sizing: border-box
    .row0
      height: 110px
      span
        display: block
        text-align: center
        line-height: 1
        margin: 0
        margin-top: 6px
      span.college
        margin-top: 20px
        font-size: 18px
        color: #333
      span.score-line
        font-size: 14px
        color: #888
      span.score
        font-size: 14px
        color: #ffb619
        margin-bottom: 8px
      span.tag
        margin: 0
        display: inline-block
        padding: 1px 8px
        height: 16px
        margin-right: 8px
        background-color: #ffb619
        font-size: 12px
        color: #fff
        text-align: center
        line-height: 16px
        margin-bottom: 10px
    .row
      height: 60px
    .row7, .row8
      td a
        display: inline-block
        width: 100px
        height: 36px
        text-align: center
        line-height: 36px
        background: #44b988
        color: #fff
        font-size: 16px
    .row8 td a
      width: 160px
      height: 50px
      line-height: 50px
      font-size: 21px
      margin: 18px 0

.college-popup, .special-popup, .dissuade-popup, .college-tip
  position: fixed
  z-index: 100
  top: 0
  left: 0
  bottom: 0
  right: 0
  display: flex
  align-items: center
  background-color: rgba(0, 0, 0, 0.5)
  transition: opacity 500ms
  opacity: 1
  .popup
    padding-bottom: 23px
    width: 920px
    max-height: 550px
    margin: 0 auto
    background: #fff
    overflow: overlay
    .menu
      height: 50px
      background: #f3f4f4
      text-align: right
      padding-right: 20px
      padding-top: 5px
.college-popup
  .container .popup
    background: #f3f4f4
    box-sizing: content-box
    .menu
      border-bottom: solid 1px #ccc
      margin-bottom: 17px
      .control
        display: inline-block
        width: 95%
        text-align: left
        height: 100%
        vertical-align: top
        a
          display: inline-block
          font-size: 18px
          color: #ccc
          margin: 0 20px
          line-height: 50px
          height: 100%
          box-sizing: border-box
          &:hover
            border-bottom: solid 2px #44b988
            color: #44b988
        a.active
          border-bottom: solid 2px #44b988
          color: #44b988
    ul.college-header
      background: #fff
      border-top: solid 1px #ccc
      width: 100%
      li
        display: inline-flex
        justify-content: center
        align-items: center
        border-left: solid 1px #ccc
        box-sizing: border-box
        height: 70px
        color: #888
        &:first-child
          border: none
      .college-title
        width: 180px
      .property-title
        width: 300px
      .pick-title
        width: 260px
      .confirm-title
        width: 180px
    ul.college
      background: #fff
    ul.college li
      border-bottom: solid 1px #ccc
      height: 100px
      box-sizing: border-box
      &:first-child
        border-top: solid 1px #ccc
      .college-wrap, .property-wrap, .pick-wrap, .confirm-wrap
        box-sizing: border-box
        display: inline-flex
        flex-direction: column
        justify-content: center
        align-items: center
        vertical-align: top
        text-align: center
        height: 100px
      .property-wrap
        flex-direction: row
      .property-wrap, .pick-wrap, .confirm-wrap
        border-left: solid 1px #ccc
      .college-wrap
        width: 180px
        .wrap
          display: inline-block
          margin: 0 auto
          span
            display: block
            line-height: 1
          .college
            font-size: 18px
            color: #333
          .score-line
            margin-top: 8px
            font-size: 14px
            color: #888
          .score
            margin-top: 3px
            font-size: 14px
            color: #ffb619
            margin-bottom: 8px
      .property-wrap
        width: 300px
        font-size: 0
        div
          display: inline-flex
          flex-direction: column
          justify-content: center
          width: 100px
          height: 60px
          border-radius: 2px
          border: solid 1px #ccc
          text-align: center
          margin-right: 20px
          &:last-child
            margin: 0
          span
            display: block
          span.l
            font-size: 12px
            color: #888
          span.b
            font-size: 16px
            color: #555
      .pick-wrap
        width: 260px
        .choose
          display: inline-block
      .confirm-wrap
        width: 180px
        a
          display: inline-block
          width: 100px
          height: 36px
          text-align: center
          line-height: 36px
          color: #fff
          background: #44b988
          &:hover
            background-color: #ffb700
        a.dismiss
          background-color: #ffb700

.special-popup
  .popup
  tbody
    border-left: none
    border-right: none
    border-bottom: none
    .row0
      font-size: 16px
      color: #555
      height: 60px
    .row
      font-size: 18px
      color: #333
      height: 80px
    .cell0
      width: 320px
      border-left: none
    .cell1, .cell2, .cell3
      width: 300px
    .cell2 .choose
      display: inline-block
    .cell3
      border-right: none
      a
        display: inline-block
        width: 120px
        height: 36px
        background: #44b988
        color: #fff
        font-size: 16px
        text-align: center
        line-height: 36px
      a.dismiss
        background: #ffb700
  .pagination
    margin-top: 18px

.dissuade-popup, .college-tip
  .popup
    width: 428px
    height: 282px
    border-radius: 7px
    position: relative
    padding: 0
    .menu
      background: none
      height: 30px
      .close-tag
        .close
          width: 14px
          height: 14px
          &:before, &:after
            left: 6px
            height: 14px
    .board
      margin-top: 30px
      span
        display: block
        text-align: center
        font-size: 20px
        color: #4f4f4f
    .action
      position: absolute
      width: 428px
      bottom: 21px
      display: flex
      justify-content: space-around
      a
        display: inline-block
        width: 100px
        height: 35px
        text-align: center
        line-height: 35px
        font-size: 15px
        color: #fff
        background-color: #bebebe
        &:hover
          background-color: #44b988
      .active
        background-color: #44b988

.college-tip
  background-color: rgba(0, 0, 0, 0)
  .tip-container
    .popup
      overflow: auto
      background-color: #feffea
      width: 208px
      height: 180px
      color:#a3a390
      border: solid 1px #e1e1e1
      .menu
        font-size: 16px
        .title
          display: inline-block
          width: 80%
          text-align: center
      .board
        margin-top: 20px
        ul
          margin: 0 17px
          li
            display: flex
            justify-content: space-between
            span
              font-size: 12px
              color:#a3a390
              display: inline-block
      .action
        display: block
        // position:
        bottom: 17px
        width: 208px
        height: auto
        // width: auto
        text-align: center
        a
          background: none
          color: #a3a390
          font-size: 12px
          text-decoration: underline
          display: inline
          // width: auto
          // height: auto

.owner-info, .next-step, .special-popup, .choose-box, .dissuade-popup, .college-tip, .college-popup, .favor-box, .college-requirement, .college-final
  display: none
