.header
  background: url('/src/assets/bg.png')
  background-size: cover
  min-height: 500px
  text-align: center
  position: relative
  .slogon
    margin-top: 45px
  .bonus-tip
    margin-top: 32px
    display: flex
    justify-content: space-around
    .tip
      display: inline-flex
      flex-direction: column
      justify-content: center
      width: 160px
      height: 160px
      color: #fff
      background: #44b988
      border-radius: 50%
      padding: 5px
      background-clip: content-box
      border: solid 1px #44b988
      span
        display: block
      span.t
        font-size: 36px
      span.c
        font-size: 21px
  .now-go
    position: absolute
    bottom: 40px
    left: 50%
    transform: translateX(-50%)
    a
      display: inline-block
      width: 250px
      height: 60px
      text-align: center
      line-height: 60px
      background: #9d9bd9
      color: #fff
      font-size: 21px
.girdle
  height: 110px
  text-align: center
  img
    margin-top: 20px
.bonus-show
  height: 400px
  background: #eee

.login-popup, .subscribe-popup
  position: fixed
  z-index: 100
  top: 0
  left: 0
  bottom: 0
  right: 0
  display: flex
  align-items: center
  background-color: rgba(0, 0, 0, 0.5)
  transition: opacity 500ms
  opacity: 1
  .popup
    width: 540px
    margin: 0 auto
    background: #fff
    .menu
      box-sizing: border-box
      height: 40px
      text-align: right
      padding-right: 20px
      padding-top: 5px
    .sub-box
      text-align: center
      height: 266px
      span.login-title
        display: block
        font-size: 18px
        color: #555
        text-align: center
        margin-bottom: 35px
        // border-bottom: solid 1px #ccc
      .login-ornot
        width: 360px
        margin: 0 auto
        form
          .form-group
            margin-top: 20px
          label
            display: inline-block
            box-sizing: border-box
            padding-right: 10px
            width: 60px
            text-align: right
            font-size: 16px
            color: #555
          input
            display: inline-block
            box-sizing: border-box
            width: 300px
            height: 40px
            font-size: 14px
            color: #555
            padding: 0 8px
            line-height: 40px
            &::-webkit-input-placeholder
              color: #ccc
          input[type='submit']
            padding: 0
            background: #44b988
            color: #fff
            text-align: center
            line-height: 50px
            height: 50px
            font-size: 21px
            border: none
            margin-left: 60px
          .error
            display: block
            text-align: left
            color: red
            font-size: 12px
            line-height: 1
            padding-left: 60px
            padding-top: 10px
        .new, .fs
          margin-top: 8px
          line-height: 1
          float: right
        .new
          color: #888
          margin-right: 5px
        .fs
          color: #44b988
    .ft
      vertical-align: bottom

.subscribe-popup
  .hint
    margin-bottom: 60px
    span
      display: block
      text-align: center
    span.b
      font-size: 18px
      color: #555
    span.l
      font-size: 14px
      color: #888
  .gogo
    .line
      margin-bottom: 40px
      padding-right: 160px
      text-align: right
      span
        font-size: 18px
        line-height: 50px
        color: #555
      a
        display: inline-block
        width: 120px
        height: 50px
        font-size: 21px
        color: #fff
        text-align: center
        line-height: 50px
        background: #44b988
        margin-left: 25px
.login-popup
  display: none
