include ../mixins/benifit

.benifit-table
  mixin benifit('/src/assets/1.png', '专属个性推荐', ['专业的算法推演个性化的需求', '只推荐最合适你的'])
  mixin benifit('/src/assets/2.png', '精准测评系统', ['专家团队精心设计精准问题', '为您定为专属志愿信息'])
  mixin benifit('/src/assets/3.png', '多方位选择体验', ['从城市到职业，让您知其所以然'])
  mixin benifit('/src/assets/4.png', '超市化选购体验', ['全方位浏览，货比三家，安全可靠'])
  mixin benifit('/src/assets/5.png', '实力专家陪护', ['100 多位实力专家团队全程陪护'])
  mixin benifit('/src/assets/6.png', '保姆式的服务', ['24 小时专家服务，在线答疑、热线咨询，随叫随到'])
