.college-wiki
  h1 院校简介
  p
    |北京大学（Peking University），简称北大，诞生于1898年，初名京师大学堂，是中国近代第一所国立大学[1]  ，也是最早以“大学”身份及名称而建立的学校，其成立标志着中国近代高等教育的开端。北大是中国近代以来唯一以国家最高学府身份创立的学校，最初也是国家最高教育行政机关，行使教育部职能，统管全国教育。北大催生了中国最早的现代学制，并开创了中国最早的文科、理科、社科、农科、医科等大学学科，是近代以来中国高等教育的奠基者。
  p
    |1911年辛亥革命爆发，翌年改名为北京大学。1916年，著名教育家蔡元培出任校长，“循思想自由原则、取兼容并包之义”，推行改革，把北大办成全国的学术和思想中心，使北京大学成为新文化运动的中心、五四运动的策源地。1937年抗日战争爆发，北京大学与清华大学、南开大学合并组建国立西南联合大学。1946年，回到北平复校。1952年院系调整时，校园从北京内城迁至西北郊燕园。
  p
    |北京大学由教育部直属，系国家“211工程”、“985工程”、“2011计划”[2]  建设的全国重点大学，是九校联盟及东亚研究型大学协会、国际研究型大学联盟、环太平洋大学联盟、21世纪学术联盟、东亚四大学论坛的重要成员。
  p
    |巍巍上庠，国运所系。作为中国的最高学府，北京大学始终与国家民族的命运紧密相连，聚集了各个历史时期的众多著名学者专家，培养了一代又一代优秀人才，创造了一批又一批重大科学成果，深刻影响和大力推动了中国近现代思想理论、科学技术、文化教育和社会发展的进程。
