.card
  .wrap-logo
    img(class='logo', src='/src/assets/logo.jpg')
    span 3000 人已关注
  .description
    .line1
      span.name 北京大学
      span.tag 211
      span.tag 985
      span.tag 著名
    .line2
      span.ename Peking University
    .line3
      span.type 办校类型：大学
      span.belong 院校隶属：教育部
    .line4
      span.district 所属省份：北京
      span.city 所在城市：北京 首都 旅游
    .line5
      a(href='#', class='follow') ＋ 关注
      a(href='#') 官方网站
      a(href='#') 招生网址
  .fav
    a(href='#') 收藏学校
