.expert-card
  .expert-bio
    img(src='/src/assets/user.png')
    .exp
      span.exp-name 刘美美
      .exp-time
        span 从业时间: 6 年
        span 服务学生: 500－100 人
      span.exp-title VIP 咨询师
    .contact
      a(href='#').qq QQ 咨询
      a(href='#').offline 预约线下服务
  .expert-description
    p
      - var n = 0
      while n < 50
        span 教师简介#{ n++ }
