#header
  .container
    .nav
      img(src='/src/assets/logo_pic.png')
      ul
        li
          a(href='#') 首页
        li
          a(href='#') 信息查询
        li.active
          a(href='#') 志愿填报
        li
          a(href='#') 专家服务
        li
          a(href='#') 个人中心
    .login
      ul
        li
          a(href='#') 登录
        li
          a(href='#') 快速注册
    .logout
      ul
        li
          a(href='#') 安全退出
