.pagination
  span.state 3176 条记录
  span.current 1/318 页
  ul
    li.active
      a(href='#') 1
    - var n = 1
    while n < 5
      li
        a(href='#') #{ ++n }
    li.etc
      span ...
    li.num3
      a(href='#') 381
    li.next
      a(href='#') 下一页 >>
    li.last
      a(href='#') 尾页
