mixin careerCard(title, contents, imgURL)
  .career-card
    img.career(url='#{ imgURL }')
    .career-description
      span #{ title }
      ul
        each item in contents
          li
            a(href='#') #{ item }
