mixin classifier(contents)
  .classifier
    each content in contents
      div(class = '#{ content.className }')
        span.subtitle #{ content.title }
        ul
          li.active
            a(href='#') 不限
          each item in content.body
            li
              a(href='#') #{ item }
