mixin districtTag(districts, activeId)
  .district-tag
    span.prompter 所在地区
    .place
      each d, i in districts
        if i + 1 == activeId
          span.active #{ d }
        else
          span #{ d }
