mixin excel(className, head, body, showRank, rows)
  table(class='excel ' + '#{ className }')
    thead
      each h in head
        th #{h}
    tbody
      - var n = 0
      while n < rows
        tr(class='row'+'#{ ++n }')
          if showRank
            td(class='cell0') #{ n }
          each b, i in body
            td(class='cell'+'#{ i+1 }') #{ b }
