mixin mRadio(ID, Name, note, choosed)
  .mRadio
    if choosed
      input(class='mRadio-input', type='radio', id='#{ ID }', name='#{ Name }', checked)
    else
      input(class='mRadio-input', type='radio', id='#{ ID }', name='#{ Name }')
    label(class='mRadio-label',for='#{ ID }') #{ note }
