mixin searchBox(className, inputHint, btnHint)
  div(class='search-box ' + '#{ className }')
      form(name="searchBox", method="post")
        div.textfield
          input(type="text", placeholder= inputHint)
        div.btn
          input(type="submit", value= btnHint)
