mixin step(className, path, current)
  div(class='path '+'#{ className }')
    each v, i in path
      if i in current
        div(class="step active")
          span.num= i
          span.content= v
      else
        div(class='step')
          span.num= i
          span.content= v
