mixin step2(className, path, current)
  div(class='path2 '+'#{ className }')
    each v, i in path
      if i < current
        div(class="step2 passed")
          span.num= i
          span.content= v
      else if i == current
        div(class="step2 active")
          span.num= i
          span.content= v
      else
        div(class='step2')
          span.num= i
          span.content= v
